<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact the Team</title>
</head>
<body>
    <div class = "row info">
        <div class = "col-sm-6">
            <!-- <img src = ""> -->
        </div>
        <div class = "col-sm-6">
            <h2 class = "regular">Club Info</h2>
            <h4 class = "regular">Instagram: <a class = "regular purple">@~</a></h4>
            <h4 class = "regular">Supervisor: <a class = "regular purple">+1 201-~</a></h4>
            <h4 class = "regular">Email: <a class = "regular purple">~@gmail.com</a></h4>
        </div>
    </div>
</body>
</html>