/* 
filipino club icon colors
red: aa3c3c, d77a7a, rgb(85, 5, 5), #dd9595
yellow: ebaf34
blue: 395293
offwhite: d6dc38
*/

:root {
    --back-color: #f4f8ff;
    --button-back-color: #395293;
    --button-fore-color: #eaeffa;
    --button-hover-back-color: #1e2b4d;
    --footer-back-color: rgb(170, 97, 91);
    --footer-link-color: white;
}

.main_text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 100px;
    color: #543563;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
}

.main_btn {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
  }

.info img {
    margin-left: 30px;
}

img {
    display: block;
    padding: 30px;
    width: 600px;
    height: auto;
    filter: drop-shadow(5px 5px #d98d8d);
}

h1 {
    font-size: 65px;
    color: #3e518f;
    padding-top: 125px;
    padding-left: 50px;
}

h2 {
    background-color: #abb4ce;
    font-size: 40px;
    color: #34498e;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 65px;
    margin-bottom: 25px;
    padding-left: 3px;
}

h4 {
    margin-top: 5px;
    margin-left: 50px;
}

.blue {
    color: #34498e;
    font-weight: bold;
}

p {
    font-size: 19px;
    color: #34498e;
    padding-top: 25px;
    padding-left: 50px;
}

.main_btn:hover {
    background-color: #34498e;
    color: #abb4ce;
    border-color: #34498e;
    color: #34498e;
}